
.contact{
   width: 100%;
 }
 .contact form{
   text-align: center;
   max-width: 50rem;
   margin: 1rem auto;
   margin-bottom:  3.5rem;
  }
  .contact form input,
  .contact form textarea{
 
   width: 100%;
   color: var(--text-color--white);
   background: var(--bg-color);
   margin-bottom: 1rem;
   border: none;
   border-radius: 5px;
   padding: .8rem;
   box-shadow: var(--neon-box-shadow);
  }
  .contact form textarea{
   resize: none;
  }
  .formBtn{
   display: flex;
   justify-content: center;
   width: 100%;
  }
  .formBtn .btn{
   cursor: pointer;
   font-size: 1.2rem;
  }