
footer{
   padding: 1.8rem 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 footer p{
   color: var(--color-blobs);
   font-size: 1.2rem;
 }
 footer a{
   display: inline-flex;
   justify-content: center;
   color: var(--text-color--white);
   background: var(--bg-color);
   padding: .8rem;
   border-radius: 5px ;
 }
 footer a i{
   font-size: 2rem;
   color: var(--hover-color);
 }