
/* medias da seçao 01 */

@media only screen and (max-width:600px){
   
  nav{
    display: inline

   }     
 
   main{
    margin: 20px;
   }
   :root{
     --big-font:2.2rem;
     --normal-font:1.6rem;
     --neon-box-shadow:0 0 .5rem #f67fee;
     --h2-font: 3rem;
   }
 }
 

 /* medias da seçao 02 */


@media only skills and (min-width:600px){
 
  .skill-main{
    display: flex;
   flex-direction: row;

  }
 
}