
@media(max-width:99.1rem){
   header,
   header.sticky{
     padding: 1.5rem 5%;
   }
   footer{
     padding: 1.5rem 5%;
   }
   section{
     padding: 5.0rem 5%;
   }
   .nalist a{
      padding: 8px 15px;
   }
   :root{
     --big-font:2.2rem;
     --normal-font:1.6rem;
     --neon-box-shadow:0 0 .5rem #f67fee;
     --h2-font: 3rem;
   }
 }
 @media only screen and (max-width: 600px) {
  section .home{
      flex-direction: column-reverse;
  }
}
 