
/* medias da seçao 01 */

@media only screen and (max-width:650px){
   header,
   header.sticky{
     
    margin: 5px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
   }
   main{
    margin: 20px;
   }
   
   section{
     padding: 2rem 5%;
   }
   .navlist a{
      padding: 8px 15px;
   }
   :root{
     --big-font:2.2rem;
     --normal-font:1.6rem;
     --neon-box-shadow:0 0 .5rem #f67fee;
     --h2-font: 3rem;
   }
 }
 

 /* medias da seçao 02 */


@media only skills and (mix-width:650px){
 
  .skill-main{
    display: flex;
   flex-direction: row;

  }
 
}