
.skills{
   display: flex;
   justify-content: space-around;
 }
 
 /* .skill-main{
     
    justify-content: space-around;
     
 }  */

 .skill-bar{
   margin-bottom: 2.8rem; 
 }
 .skill-main h3{
   margin-bottom: 2rem;
   font-size: var(--normal-font);
   text-align: center;
 }
 .skill-left .skill-bar .info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   
 }
 .skill-left .skill-bar .bar{
   width: 100%;
   height: 10px;
   background-color: var(--section-bg-grey-dark);
   border-radius: 25px;
   margin-top: 10px;
   position: relative;
 }
 .skill-bar .bar span{
   width: 50%;
   height: 100%;
   position: absolute;
   left: 0;
   background: var(--hover-color);
   border-radius: 25px;
   box-shadow: var(--neon-box-shadow);
 
 }
 .skill-bar .bar .html{
   width: 75%;
   animation: html 2s;
 }
 
 .skill-bar .bar .css{
   width: 52%;
   animation: css 3s;
 }
 
 .skill-bar .bar .angular{
   width: 30%;
   animation: angular 4s;
 }
 .skill-bar .bar .javascript{
   width: 40%;
   animation: javascript 5s;
 }
 .skill-bar .bar .java{
  width: 40%;
  animation: java 5s;
}
 .skill-bar .bar .github{
   width: 35%;
   animation: github 6s;
 }
 /* skill right */
 .profissional {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
 }
 .box{
   margin: 10px 0;
   flex: 1 1 18rem;
   position: relative;
 }
 .box .text{
   text-align: center;
   color: var(--text-color--white);
   font-size: 1.5rem;
 }
 .box .text big {
   font: 400;
   letter-spacing: 1px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .box .text small{
   display: block;
   font-weight: 600;
 
 }
 .circle{
   width: 100%;
   height: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--text-color--white);
 }
 .circle .points{
   width: 2px;
   height: 10px;
   background-color: var(--section-bg-grey-dark);
   position: absolute;
   border-radius: 3px;
   transform: rotate(calc(var(--i)*var(--rot ))) translateY(-45px);
 
 }
 .points.marked{
   animation: glow 0.04s linear forwards;
   animation-delay: calc(var(--i)*0.05s);
 }